@charset "utf-8";

.container {
	display: grid;
	grid-template-columns: 33.333% 33.333% 33.333%;
	grid-template-rows: 33.333% 33.333% 33.333%;
	border-style: solid;
	border-width: 0.5px;
	/*
	grid-gap: 1rem;
	padding: 0;
	*/
}

.item {
	border-style: solid;
	border-width: 0.125px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	/* 
	background-color: #C1E0FF;
	*/
}

.textyText {
	text-align: center;
	font-family: sans-serif;
	/*
	*/
}





/*
.item01 {
	background-color: violet;
}

.item02 {
	background-color: black;
}

.item03 {
	background-color: green;
}

.item04 {
	background-color: blue;
}

.item05 {
	background-color: yellow;
}

.item06 {
	background-color: orange;
}

.item07 {
	background-color: gray;
}

.item08 {
	background-color: cyan;
}

.item09 {
	background-color: DarkGreen;
}
*/