@charset "utf-8";

.container {
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	grid-gap: 1rem;
}

.item {
	box-shadow: 0 5px 10px;
}

.item01 {
	background-color: violet;
}

.item02 {
	background-color: black;
}

.item03 {
	background-color: green;
}

.item04 {
	background-color: blue;
}

.item05 {
	background-color: yellow;
}

.item06 {
	background-color: orange;
}

.item07 {
	background-color: gray;
}

.item08 {
	background-color: cyan;
}

.item09 {
	background-color: DarkGreen;
}